.title{
    display: flex;  
    
}
.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 3rem;
}
.title__container{
    color: var(--cor-de-text1);
}
.title__bio{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 black;
    padding: 1.2rem;
}
.title__subsection{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 7px 4px #c4bdbd, 5px 4px 9px #0000004d;
    padding-left: 0.7rem;

}
.title__network{
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    

}
.title__network__item{
    padding: 1rem;
}
@media (max-width: 768px) {
    .title__div{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 90vw;
    }
    .title__bio{
        font-size: 1.5rem;
        text-align: center;
    }
    .title__network{
        justify-content: center;

    }
}
@media (max-width: 425px) {
    .title__div{
        width: 80vw;
        align-items: center;
    }
    
    
    .title__profile{
        width: 98px;
        height: 98px;
    }
    .title__subsection{
        padding-right: 1rem;
        padding-left: 0.2rem;
        
    }
    .title__network{
        font-size: .75rem;
    }
}